@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
    height: calc(100vh - 48px)
}

.login,
.signup {
    height: calc(100vh - 48px)
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.or-container::before,
.or-container::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin: 0 0.5rem;
    background-color: #9ca3af;
}

.profile-menu {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}